{% if task_summary.has_active_tasks %}
<div class="rounded-md bg-yellow-50 p-4 border border-yellow-200">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
            </svg>
        </div>
        <div class="ml-3">
            <h3 class="text-sm font-medium text-yellow-800">
                Warning: This user has active tasks
            </h3>
            <div class="mt-2 text-sm text-yellow-700">
                <p>Deactivating this user will not automatically reassign their tasks. Please review:</p>
                
                {% if task_summary.assigned_total > 0 %}
                <div class="mt-2">
                    <strong>Tasks assigned to {{ user.first_name }}:</strong>
                    <ul class="list-disc list-inside ml-2">
                        {% if task_summary.assigned_pending > 0 %}
                        <li>{{ task_summary.assigned_pending }} pending task{{ task_summary.assigned_pending|pluralize }}</li>
                        {% endif %}
                        {% if task_summary.assigned_in_progress > 0 %}
                        <li>{{ task_summary.assigned_in_progress }} in progress task{{ task_summary.assigned_in_progress|pluralize }}</li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                
                {% if task_summary.created_total > 0 %}
                <div class="mt-2">
                    <strong>Tasks created by {{ user.first_name }} (assigned to others):</strong>
                    <ul class="list-disc list-inside ml-2">
                        {% if task_summary.created_pending > 0 %}
                        <li>{{ task_summary.created_pending }} pending task{{ task_summary.created_pending|pluralize }}</li>
                        {% endif %}
                        {% if task_summary.created_in_progress > 0 %}
                        <li>{{ task_summary.created_in_progress }} in progress task{{ task_summary.created_in_progress|pluralize }}</li>
                        {% endif %}
                    </ul>
                </div>
                {% endif %}
                
                <p class="mt-3 font-medium">
                    Please reassign or cancel these tasks before deactivating the user.
                </p>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="rounded-md bg-green-50 p-4 border border-green-200">
    <div class="flex">
        <div class="flex-shrink-0">
            <svg class="h-5 w-5 text-green-400" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/>
            </svg>
        </div>
        <div class="ml-3">
            <p class="text-sm text-green-700">
                This user has no active tasks. Safe to deactivate.
            </p>
        </div>
    </div>
</div>
{% endif %}
